<section id="encabezado">
    <nav class="navbar navbar-expand-lg fondo">
        <div class="container-fluid titulo">
          <a class="navbar-brand" href="#">Manka</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto">     
                <li class="nav-item" ngbDropdown>
                    <a class="nav-link dropdown-toggle"  ngbDropdownToggle>
                      Ventanas
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                      <li><a class="dropdown-item" routerLink="catalogo">Catálogo de Productos</a></li>
                      <li><div class="dropdown-divider"></div></li>
                      
                    </ul>
                  </li>
                   
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Login</a>
                  </li>        
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
              </li>  
              <div class="container">
                <a class="navbar-brand" [routerLink]="['/carrito']">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                    <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                  </svg>
                  <span class="badge badge-danger">{{ carritoService.carrito.length }}</span>
                </a>
              </div>
                                   
            </ul>                    
          </div>
                   
        </div>
      </nav>
</section>