/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;    
}
/* styles.css */
@import "~bootstrap/dist/css/bootstrap.min.css";

#cuerpo{
    background: #000000;
    color: #FFFFFF;
    
}